{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    

    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light HeaderBanner w-100">
            <div class="container-fluid">
                <h2 class="brand-name"><a class="home-link" href="#">DATAVERSE</a></h2>                
                <button class="navbar-toggler james" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">                                    
                    </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#">ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">DATA UNIVERSITY</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">DATA LAB</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">DATA FOR BUSINESS</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">GLOSSARY</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">LINKEDIN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        This is my footer
    </footer>
</html>